<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Home Page">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/fonts/segoe-ui.css">
  <link rel="stylesheet" href="/public/styles/animated-home.css" />

  <link rel="shortcut icon" href="/public/img/favicon-32x32.png" type="image/x-icon">

  <title>Home</title>
</head>

<body>
  <div class="wrapper">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/user/auth/login">Login</a></li>
      <li><a href="/user/auth/signup">Signup</a></li>
      <li><a href="/admin/panel">Admin</a></li>
    </ul>

    <div class="center-outer-wrapper">
      <div class="center-inner-wrapper">
        <h6>Welcome</h6>
        <h2>{{displayName}}</h2>
        <p>({{username}})</p>
        <p>({{email}})</p>
        <form action="/user/logout" method="post">
          <button type="submit" style="width: 6em;">
            <span>LOGOUT</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="objects">
    <ul class="box">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>

</html>
